<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADT0cpL40Xxe9Wlms2Gl_5G0YCTsaZnnM</string>
	<key>GCM_SENDER_ID</key>
	<string>460174283657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.you.c3651tys3cr3ts</string>
	<key>PROJECT_ID</key>
	<string>citysecrets-21d5e</string>
	<key>STORAGE_BUCKET</key>
	<string>citysecrets-21d5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460174283657:ios:d71ee4b9185606b2088758</string>
</dict>
</plist>